.character-episodes-container {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
    width: 100%;
    background-color: rgb(250, 250, 250);
    border-radius: 6px;
    box-shadow: 0px 0px 8px rgb(176, 176, 176);

}

.character-episodes-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    margin: 20px;
    padding-bottom: 60px;
}

.character-episodes-title {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #2196f3;
}

@media (max-width: 830px) {
    .character-episodes-body {
        margin: 0;
        margin-top: 30px;
        border-top: 2px solid rgba(22, 22, 22, 0.479);
    }
}