.character-container-body {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px rgb(176, 176, 176);
    background-color: white;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.character-container-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.character-title {
    width: 100%;
    text-align: center;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 15px;
}

.modal-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.842);
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.modal-character-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-character-selected-image {
    border-radius: 50%;
}

.modal-character-selected-title {
    color: white;
    width: '100%';
    text-align: center;
}