.episode-card-body{
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #2196f3;
}
.episode{
    font-weight: bolder;
    font-size: small;
    color: rgb(44, 44, 44);
}
.episode-name{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-shadow: 1px 1px 0px rgb(220, 220, 220) ;
    text-align: center;
    font-size: small;
}
.episode-release-div{
    display: flex;
    justify-content: flex-end;
    font-size: x-small;
}
.episode-release{
    font-weight: bold;
    margin-right: 5px;
}